<!DOCTYPE html>
<html>
  <head>
    <title>File Uploaded Successfully</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>File Uploaded Successfully with Description</h1>
  </body>
</html>
