<!DOCTYPE html>
<html>
<head>
<h1 align="center"></h1> 
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
<title>File Upload</title>
<style>
p{
FONT-SIZE: 18;
color:blue;
}
BODY{
BACKGROUND-COLOR: #EEE8AA;
}
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
</style>
</head>
<body>
<form name ="upload" id="upload_frm" enctype="multipart/form-data" method="post" action="/onUpload">

<p>
Hello AWS MySQL!<br>
The Count of gumballs is:  [count_gumballs]<br>
The Gumball Machine Model is:  [model_number]<br>
The Gumball Machine Serial # is:  [serial_number]<br>
</p>

<div>

</form>
</div>
</body>
</html>



